/*********/
/* Typography
/*********/

.membership-custom {
    h1, h2, h3, h4, h5, p {
        margin-bottom: 0px!important;
    }
    h2 {
        margin-top: 60px;
    }
    p {
        margin-top: 30px;
    }
}

h1.h1__membership,
h2.h2__page-title {
    line-height: 1.2em!important;
}

h1.h1__membership {
    margin-top: 0px!important;
}

h2.h2__page-title {
    font-weight: 100!important;
    letter-spacing: 2px!important;
    text-transform: uppercase!important;
    font-size: 20px!important;
    
}

