/*********/
/* Variables
/*********/

$grid-breakpoints: (
	xs:  0,
	sm:  544px,
	md:  768px,
	lg:  992px,
	xl:  1200px,
	xxl:  1440px,
	xxxl: 1600px,
	);

//Colors
$colors: (
    white:  		#fff,
	purple:         #b93fe9,
	yellow:			#FAD401,
	grey-ad: 		#8B8B8B,
	transparent: transparent
	);